@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?66402652');
  src: url('../fonts/fontello.eot?66402652#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff?66402652') format('woff'),
       url('../fonts/fontello.ttf?66402652') format('truetype'),
       url('../fonts/fontello.svg?66402652#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?66402652#fontello') format('svg');
  }
}
*/

[class^="icon-"]:before ,
[class*=" icon-"]:before{
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* you can be more comfortable with increased icons size */
	/* font-size: 120%; */
	/* Uncomment for 3D effect */
	/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.icon-right:before { content: '\e800'; }
.icon-up:before { content: '\e801'; }
.icon-left:before { content: '\e802'; }
.icon-down:before { content: '\e803'; }
.icon-location:before { content: '\e804'; }
.icon-map:before { content: '\e805'; }
.icon-mobile:before { content: '\e806'; }
.icon-book-open:before { content: '\e807'; }
.icon-phone:before { content: '\e808'; }
.icon-mail:before { content: '\e809'; }
.icon-book:before { content: '\e80a'; }
.icon-cart:before { content: '\e80b'; }
.icon-grass:before { content: '\e80c'; }
.icon-heart-1:before { content: '\e80d'; }
.icon-runner:before { content: '\e80e'; }
.icon-train:before { content: '\e80f'; }
.icon-arrowdown:before { content: '\e810'; }
// import custom variables
@import "custom-variables";

// import custom mixins
@import "custom-mixins";

@-webkit-viewport{width: device-width;}
@-moz-viewport{width: device-width;}
@-ms-viewport{width: device-width;}
@-o-viewport{width: device-width;}
@viewport {width: device-width;}

html,
body{
	height:100%;
}
body{
	min-width:320px;
//	-webkit-font-smoothing: none;
}
.no-transition {
  -webkit-transition: height 0;
  -moz-transition: height 0;
  -ms-transition: height 0;
  -o-transition: height 0;
  transition: height 0;
}
.form-control{
	font-weight:600;
	box-shadow: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	&:focus{
		box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
	}
}
.btn{
	font-size:20px;
	border:none;
	padding:10px 15px 9px;
	margin-top:17px;
	transition: background .2s ease-in-out, color .2s ease-in-out, border-color .2s ease-in-out;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.btn-lg{
	font-size:22px;
	border-radius: 4px;
}
.btn-md{
	padding:10px 20px 9px;
}
textarea{
	resize: vertical;
}
h1, .h1, h2, .h2, h3, .h3{
	margin:0 0 20px;
}
h1, .h1{
	line-height:0.90909;
}
h2, .h2{
	line-height:1.05;
}
p{
	margin:0 0 17px;
}

a{
  transition: color .2s ease-in-out, color .2s ease-in-out, border-color .2s ease-in-out;
  &:hover{
    text-decoration: none;
  }
}
.black{ color: #000000;}
.thankyou{
  background-color: #ffffff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  height:350px;
  width:350px;
  padding-top: 110px;
  margin: 0 auto;
}
#wrapper{
	display:table;
	table-layout:fixed;
	width:100%;
	height:100%;
	position:relative;
}
.w1{
	display:table-row;
	width:100%;
}
.w2{
	width:100%;
	position:relative;
	overflow:hidden;
}
#header{
	position:fixed;
	left:0;
	right:0;
	top:0;
	z-index:99;
}
.navbar{
	height:54px;
	.navbar-brand{
		float:left;
		margin:-60px 0 0;
		img{
			display:block;
			width:100%;
			height:auto;
		}
	}
	&.navbar-default{
		border:none;
		text-transform:uppercase;
		font-weight:bold;
		padding:9px 0;
		.btn-register{
			width:120px;
			height:120px;
			padding:67px 5px 5px;
			background:#203d5d;
			margin:-59px 0 -16px 5px;
			text-align:center;
			color:#fff !important;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			border-radius: 50%;
			&:hover,
			&:active,
			&:focus{
				background:#fff !important;
				color:#203d5d !important;
			}
		}
		.popup-active{
			.btn-register{
				background:#fff !important;
				color:#203d5d !important;
			}
		}
	}
	.register-popup{
		margin-top:-9px;
	}
}
.register-form{
	.form-control{
		width:100%;
		margin:0 0 9px;
	}
	textarea.form-control{
		height:217px;
		min-height:217px;
	}
	.btn{
		position:relative;
		margin:0;
		display:block;
		width:100%;
		text-align:left;
		padding-right:64px;
		padding-top:7px;
		padding-bottom:7px;
		font-size:17px;
		transition: all .2s ease-in-out;
		.arrow{
			overflow:hidden;
			padding:2px 3px;
			text-align:center;
			position:absolute;
			background:#fff;
			color:#00b3c4;
			right:2px;
			top:2px;
			bottom:2px;
			width:55px;
			font-size:25px;
			line-height:28px;
			font-weight:normal;
		}
		.icon-right{
			float:left;
			width:100%;
			position:relative;
			transition: all .3s linear;
		}
		&:hover{
			.icon-right{
				margin-top:-100%;
				color:#008491;
				&.hover{
					margin-top:0;
				}
			}
		}
	}
}
.register-popup{
	position:absolute;
	right:0;
	top:-9999px;
	width:290px;
	padding:17px 15px 15px;
	background:#fff;
	font-size:15px;
	line-height:20px;
	border:1px solid #8cacaf;
	h2{
		font-size:15px;
		line-height:20px;
		color:#00b3c4;
		margin:0 17px 30px;
	}
	.form-control{
		margin:0 0 6px;
		width:100% !important;
	}
	textarea.form-control{
		height:108px;
		min-height:108px;
	}
	.btn{
		font-size:17px;
		margin:15px 0 2px;
		.arrow{
			font-size:28px;
			padding:1px;
		}
	}
}
.bg-stretch{
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	right:0;
	overflow:hidden;
	z-index:-1;
	img{
		display:block;
		max-width:none;
	}
}
.home-section{
	width:100%;
	height:100%;
	display:table;
	table-layout:fixed;
	position:relative;
	text-align:center;
	padding:60px 0;
	text-align:center;
	z-index:2;
	.frame{
		display:table-cell;
		vertical-align:middle;
	}
	.logo{
		display:inline-block;
		vertical-align:middle;
		max-width:70%;
		margin:0 0 36px;
		img{
			display:block;
			max-width:100%;
			height:auto;
		}
	}
	.btn-scroll-holder{
		width:100%;
		text-align:center;
		font-size:17px;
		line-height:24px;
		a{
			color:#fff;
		}
	}
	.btn-scroll-down{
		background:transparent;
		text-shadow:0 0 28px rgba(0,0,0, 0.7);
		.arrow{
			display:inline-block;
			vertical-align:top;
			background:url(../images/arrow-scroll.png) -114px 0 no-repeat;
			margin:0 auto;
			font-size:24px;
			line-height:38px;
			width:73px;
			height:73px;
		}
		&:hover{
			text-decoration:none;
			.arrow{
				background-position:0 0;
			}
		}
	}
}
.section{
	>.container{
		padding-top:80px;
		padding-bottom:80px;
	}
	&.style-alt{
		background:#01bac6;
		color:#fff;
		h1{
			color:#fff;
			span{
				color:#000;
			}
		}
		h2{
			color:#203d5d;
		}
		.add-info{
			color:#203d5d;
		}
		.images-block{
			.text-bubble{
				background:#143a5c;
			}
		}
	}
	h1{
		span{
			color:#01bac6;
			display:block;
		}
	}
	h2{
		color:#00b3c4;
		margin:0 0 23px;
	}
	.add-info{
		margin:63px 0 20px;
		overflow:hidden;
		font-size:17px;
		line-height:20px;
		color:#00b3c4;
		h2{
			font-size:19px;
			line-height:1.1;
			margin:0 0 14px;
		}
		ul{
			margin: 14px 0;
			padding:0;
			list-style:none;
			li{
				margin:0 0 4px;
			}
		}
		dl{
			margin:0;
			dt,
			dd{
				display:inline-block;
				vertical-align:top;
			}
			dt{
				font-weight:bold;
			}
		}
		a{
			color:inherit;
		}
	}
	.content-column{
		display:table;
		width:100%;
		table-layout:fixed;
		>.frame{
			display:table-cell;
			vertical-align:middle;
		}
	}
	.images-block{
		text-align:center;
		.images-frame{
			float:left;
			width:100%;
			margin-top:-196px;
		}
		img{
			display:inline-block;
			vertical-align:top;
			width:auto;
			max-width:100%;
			height:auto;
			border:8px solid #fff;
			margin:-172px auto 0;
			position:relative;
			&:first-child {
				margin-top:0 !important;
			}
		}
		.small-image{
			float:right;
			width:330px;
			margin-top:-70px;
		}
		.text-bubble{
			float:left;
			overflow:hidden;
			position:relative;
			margin:-130px 0 0;
			background:#00b3c4;
			border-radius: 50%;
			width:260px;
			height:260px;
			color:#fff;
			font:21px/32px 'Prata', Georgia, 'Times New Roman', Times, serif;
			text-align:center;
			white-space:nowrap;
			z-index:2;
			&:after {
				content:'';
				display:inline-block;
				vertical-align:middle;
				width:1px;
				height:100%;
				margin:0 -1px 0 0;
			}
			p{
				display:inline-block;
				vertical-align:middle;
				white-space:normal;
				margin:5px 8%;
			}
			&:first-child{
				margin-top:0;
			}
			&.small{
				width:222px;
				height:222px;
				font-size:18px;
				line-height:23px;
			}
		}
	}
}
.main-top-section{
	>.container{
		padding-top:166px;
	}
}
.home-info-section{
	>.container{
		padding-top:39px;
		padding-bottom:39px;
	}
}

.visual-block{
	width:100%;
  	overflow:hidden;

    &.para{
      height: 450px;
    }

    &.about-v-block{
      background-image: url(../images/about-bg.jpg);
      background-repeat: no-repeat;
      background-position:  50% -459px;
      background-color: #01bac6 ;
    }
    &.loc-v-block{
      background-image: url(../images/location-bg.jpg);
      background-repeat: no-repeat;
      background-position:  50% -459px;
      background-color: #01bac6 ;
    }
    &.contact-v-block{
      background-image: url(../images/home-bg.jpg);
      background-repeat: no-repeat;
      background-position:  50% -379px;
      background-color: #01bac6 ;
    }
//    &.life-v-block{
//      background-image: url(../images/img-03.jpg);
//      background-repeat: no-repeat;
//      background-position:  50% -379px;
//      background-color: #01bac6 ;
//    }
	img{
		min-width:100%;
		height:auto;
		display:block;
		margin:0;
	}

  @media only screen and (min-width: 2000px) {
    background-size: 100%;
  }

}
.intro-section{
	overflow:hidden;
	position:relative;
	display:table;
	width:100%;
	table-layout:fixed;
	height:515px;
	z-index:2;
	.heading-holder{
		display:table-cell;
		vertical-align:middle;
		padding:99px 0;
	}
	h1{
		margin:20px 0;
		font-size:60px;
		color:#fff;
	}
}
.map-section{
	text-align:center;
	background:#f0f8fa url(../images/bg-texture.png);
	h1{
		margin:0 0 71px;
	}
	.map-block{
		position:relative;
		overflow:hidden;
		border:19px solid #fff;
		margin:0 0 78px;
		>img{
			display:block;
			width:100%;
			height:auto;
		}
	}
}
.link-download{
	display:inline-block;
	vertical-align:top;
	position:relative;
	font-size:19px;
	line-height:24px;
	font-weight:bold;
	text-align:left;
  transition: color 0.2s ease-in-out, color 0.2s ease-in-out;
	white-space:nowrap;
	.icon{
		display:inline-block;
		vertical-align:middle;
		width:88px;
		height:88px;
		background:#00b3c4;
		color:#fff;
		font-size:56px;
		line-height:88px;
		text-align:center;
		margin:0 28px 0 0;
		border-radius: 50%;
      transition: background 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	}


	>span{
		display:inline-block;
		vertical-align:middle;
		white-space:normal;
	}
	strong{
		font-weight:bold;
		display:block;
		color:#000;
	}

    &:hover{
      .icon{
        background:#008491;
      }
    }
}
.map-holder{
	position:relative;
	overflow:hidden;
	width:100%;
  min-height: 794px;
  background: url('../images/map-placeholder-02.png') no-repeat center center;
	.map-placeholder{
		display:block;
		min-width:100%;
      margin: 0 auto;

	}
}
.downloads-block{
	h2{
		text-transform:uppercase;
		color:#000;
	}
}
.downloads-list{
	margin:0 0 0 -42px;
	padding:4px 0 0;
	list-style:none;
	li{
		display:inline-block;
		vertical-align:top;
		margin:0 0 15px 38px;
	}
}
.page-heading{
	margin-top:178px;
	margin-bottom:40px;
	h1{
		margin:0;
		padding:0 0 40px;
		background:url(../images/divider-01.png) 50% 100% repeat-x;
	}
}
.item-box{
	background:url(../images/divider-01.png) 50% 0 repeat-x;
	padding:43px 0 0;
	margin:0 0 38px;
	&:first-child{
		padding-top:0;
		background:none;
	}
	h2{
		color:#01bac6;
		margin:0 0 33px;
	}
	.description-box{
		padding-bottom:20px;
	}
	.map-box{
		border: solid #eaf6f9;
		border-width:16px 16px;
		img{
			display:block;
			width:100%;
			height:auto;
		}
	}
	.link-download{
		margin-top:30px;
	}
}
.contact-block{
	padding-top:116px;
	padding-bottom:116px;
	h1{
		font-size:36px;
		line-height:1;
		margin:0 0 10px;
	}
	.caption{
		font-size:12px;
		line-height:16px;
		color:#b7b7b7;
		margin:0 0 23px;
	}
}
.contacts-list{
	margin:0;
	padding:0;
	list-style:none;
	font-size:17px;
	line-height:22px;
	dt{
		display:inline-block;
		vertical-align:top;
		width:10%;
		margin:0 0 20px;
		font-size:50px;
		line-height:1;
		color:#01bac6;
	}
	.icon-location{
		font-size:60px;
	}
	dd{
		display:inline-block;
		vertical-align:top;
		width:89%;
		overflow:hidden;
		margin:5px 0 31px;
		white-space:normal;
	}
	.phone{
		font-size:43px;
		line-height:50px;
		font-weight:bold;
		margin-top:0;
	}
	strong{
		font-weight:600;
	}
	p{
		margin:15px 0 0;
	}
	.link{
		font-size:19px;
		line-height:24px;
		font-weight:bold;
	}
}


/* hide original element */
.jcf-hidden {
  display: block !important;
  position: absolute !important;
  left: -9999px !important; /* change to right: -9999px on RTL sites */
}
/* custom select styles */
select.error+.select-area{
  border-color:#f00 !important;
}
.select-holder{
  margin: 0 0 9px;
  .form-input{
    margin: 9px 0 0 ;
  }
}
.form-control{
  margin: 0 0 9px;
}
.select-area {
  display:block;
  width: 100% !important;
  position: relative;
  overflow: hidden;
  cursor: default;
  font-weight: 600;
  color: #00b9c5;
  background-color: #e5f8f9;
  background-image: none;
  border: 1px solid #e5f8f9;
  height: 36px;
  padding: 9px 12px;
  font-size: 14px;
  line-height: 1.21429;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-transform: none !important;
  transition: all .3s ease-in-out;
}
.mobile-register-popup .select-area{
  background: #57bfca;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  color: #fff;
  border-color: transparent;
}
.select-focus {
  background-color: #e5f8f9;
  outline: none !important;
  box-shadow: none;
}
.mobile-register-popup .select-focus {
  background-color: rgba(255, 255, 255, 0.1);
  outline: none !important;
  box-shadow: 0 0 0 ;
}


.select-area .center {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  width: 100%;
}
.select-disabled {
  background: #eee;
}
.select-area .select-opener {
  position: absolute;
  height: 100%;
  width: 40px;
  right: 0;
  top: 0;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color:#00b9c5;
  &:after{
    content: "\e114";
    display:inline-block;
    vertical-align: middle;
  }
  &:before{
    content: '';
    display:inline-block;
    vertical-align: middle;
    height: 100%;
  }
  &:hover{
    background-color: transparent !important;
    color:#00b9c5 !important;

  }
}

.mobile-register-popup .select-opener{
  color: #fff;

}
.select-options {
  position: absolute;
  overflow: hidden;
  background: #fff;
  z-index: 2000;
}
.select-options .opt-disabled a {
  background: #fff !important;
  color: #aaa !important;
}
.select-options .drop-holder {
  border: 1px solid #57bfca;
  overflow: hidden;
  height: 1%;


}
.select-options ul {
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
.select-options ul li {
  width: 100%;
  float: left;

}
.select-options ul a {
  text-decoration: none;
  padding: 5px 10px;
  display: block;
  cursor: default;
  color: #000;
  height: 1%;
  transition: all .2s ease-in-out;
  @media only screen and (max-width: 767px){
    text-align: left;
  }
}
.select-options .item-selected a {
  text-decoration: none;
  background: #57bfca;
  color: #fff;
}
/* select options optgroup example styles */
.select-options .optgroup {
  clear: both;
}
.select-options .optgroup strong {
  display: block;
  padding: 5px;
}
.select-options .optgroup ul a {
  padding-left: 30px;
}


.navbar-default{
  .navbar-nav{
    li{
    a{
      transition: background 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
      &:hover{
        background-color: #008491;
        color:#ffffff;
      }
    }
    }
  }

}

.nav-tabs{
	background:#253f60;
	font-size:16px;
	line-height:1;
	letter-spacing:1px;
	margin:0 0 35px;
	&.nav-justified{
		display:table;
		width:100%;
		table-layout:fixed;
		li{
			width:inherit;
			margin:0;
			display:table-cell;
			vertical-align:middle;
			a{
				display:block;
				height:127px;
				white-space:nowrap;
				padding-top:48px;
				position:relative;
				&:after{
					content:'';
					display:inline-block;
					vertical-align:middle;
					width:1px;
					height:100%;
					margin:0 -1px 0 0;
				}
				span{
					display:inline-block;
					vertical-align:middle;
					white-space:normal;
					font-size:16px;
					line-height:1;
				}
				[class^="icon-"],
				[class*=" icon-"]{
					position:absolute;
					top:30px;
					left:5px;
					right:5px;
					text-align:center;
					margin:0 0 8px;
					font-size:20px;
					line-height:1;
				}
			}
		}
	}
	li{
		a{
			color:#808da6;
			text-transform:uppercase;
			font-weight:bold;
			text-align:center;
			background:transparent;
			border-radius: 0 !important;
			transition: background .2s ease-in-out, color .2s ease-in-out, border-color .2s ease-in-out;
			&:hover,
			&:active{
				background:#1c395a !important;
				color:#fff !important;
			}
		}
		&.active{
			a{
				background:#1c395a !important;
				color:#fff !important;
			}
		}
	}
}
.map-tab-content{
	position:relative;
	>img{
		display:block;
		width:100%;
		height:auto;
	}
	.tab-pane{
		position:absolute;
		left:0;
		top:0;
		right:0;
		bottom:0;
		img{
			display:block;
			width:100%;
			height:auto;
		}
	}
}
.tab-area{
	position:relative;
	overflow:hidden;
	margin:0 0 30px;
	.list{
		margin:0;
		padding:0;
		list-style:none;
		font-size:0;
		line-height:0;
		color:#1c395a;
		li{
			display:inline-block;
			vertical-align:top;
			width:16.66667%;
			font-size:13px;
			line-height:15px;
			padding:6px 5px 26px 42px;
			.number{
				float:left;
				margin:-6px 0 0 -42px;
				width:27px;
				height:27px;
				overflow:hidden;
				text-align:center;
				background:#1c395a;
				color:#fff;
				text-align:center;
				line-height:27px;
				-webkit-border-radius: 50%;
				-moz-border-radius: 50%;
				border-radius: 50%;
			}
		}
	}
}
.developers-section{
	.dev-logo{
		display:block;
		margin:0 auto 68px;
	}
	h1{
		margin:0 0 33px;
		span{
			display:block;
			font-size:22px;
			line-height:30px;
			text-transform:uppercase;
			color:#00b3c4;
		}
	}
	.btn{
		margin-top:33px;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
	}
}
.location-points-block{
	>.container{
		padding-top:42px;
		padding-bottom:42px;
	}
	>.btn-holder{
		background:#fff;
		padding-top:24px;
		padding-bottom:24px;
		text-align:left;
		text-transform:none;
	}
	background:#f1f9fa url(../images/bg-texture.png);
	background-size:34px 188px;
	text-align:center;
	font-size:14px;
	line-height:16px;
	font-weight:bold;
	text-transform:uppercase;
	color:#000;
	p{
		margin:10px 0 0;
	}
	.img-logo{
		display:block;
		width:234px;
		height:auto;
		margin:0 auto 42px;
	}
	.points-list{
		margin:0;
		padding:0;
		list-style:none;
		font-size:12px;
		.icon-arrowdown{
			display:block;
			font-weight:normal;
			color:#203c5d;
			text-align:center;
			clear:both;
			font-size:46px;
			line-height:1;
			margin:8px 0;
		}
		.time{
			display:inline-block;
			vertical-align:top;
			margin:0 0 6px;
			min-width:72px;
			min-height:72px;
			text-align:center;
			background:#39bac6;
			border-radius: 50%;
			.number{
				padding-top:13px;
				display:block;
				font-size:26px;
				line-height:30px;
				font-weight:600;
				font-style:normal;
				color:#fff;
			}
		}
	}
}
.form-control.error{
	border-color:#f00 !important;
	box-shadow: 0 0 4px rgba(255,0,0, 0.7);
}
#footer{
	display:table-footer-group;
	overflow:hidden;
	height:1%;
	color:#fff;
	.f1{
		width:100%;
		overflow:hidden;
		background:#203d5d;
		>.container{
			padding-top:42px;
			padding-bottom:42px;
		}
	}
	.footer-logo{
		img{
			vertical-align:top;
			max-width:100%;
			height:auto;
		}
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6{
		color:#fff;
		margin:9px 0 18px;
	}
	h1,
	h2,{
		text-transform:uppercase;
	}
    h2{
      font-size: 21px;

    }

	p{margin:0 0 4px;}
	.caption{
		font-size:13px;
		color:#818ea8;
	}
	dl{
		margin:0 0 15px;
		font-size:14px;
		line-height:22px;
		dt,
		dd{
			display:inline;
			padding:3px 0 0;
		}
		dd:after{
			content:'\a';
			display:inline;
			white-space: pre-wrap;
		}
		dt{
			font-size:18px;
			line-height:22px;
			padding:0 4px 0 0;
			text-transform:uppercase;
			font-weight:bold;
		}
	}
	a{
		color:#fff;
	}
	.copyright-column{
		font-size:10px;
		line-height:12px;
		letter-spacing:-0.02em;
		color:#c9cedb;
		p{
			margin:0;
		}
		a{
			color:#c9cedb;
		}
	}
	.logos-list{
		margin:0 -28px 0 0;
		padding:0;
		list-style:none;
		font-size:0;
		line-height:0;
		li{
			display:inline-block;
			vertical-align:middle;
			margin:4px 26px 30px 0;
			img{
				display:block;
//				}
			}
		}
	}
	.add-links{
		margin:0;
		padding:0;
		list-style:none;
		overflow:hidden;
		li{
			display:inline-block;
			vertical-align:top;
			position:relative;
			margin:0 13px 0 0;
			&:before{
				content:'|';
				position:absolute;
				left:-9px;
				top:-1px;
			}
		}
	}
	.add-info{
		font-size:13px;
		line-height:1.4;
		p{
			margin:15px 0 0;
		}
		a{
			&:hover{
				text-decoration:underline;
			}
		}
	}
}
.promo-logos-block{
	background:#f3f3f3;
	>.container{
		padding-top:32px;
		padding-bottom:32px;
	}
	.promo-logos-list{
		margin:0;
		padding:0;
		list-style:none;
		line-height:0;
		text-align:justify;
		overflow:hidden;
		&:after{
			content:'';
			display:inline-block;
			vertical-align:top;
			line-height:0;
			width:100%;
			height:0;
		}
		li{
			display:inline-block;
			vertical-align:middle;
		}
		img{
			vertical-align:top;
			max-width:100%;
			height:auto;
			transition: opacity .2s ease-in-out;
			&:hover{
				opacity:0.8;
			}
		}
	}
}
.mobile-nav-links{
	margin:0;
	padding:0 5px 0 0;
	list-style:none;
	float:right;
	font-size:10px;
	line-height:14px;
	text-align:center;
	text-transform:uppercase;
	li{
		float:left;
		margin:5px 0 0 13px;
		a{
			font-weight:normal;
			color:#fff;
			[class^="icon-"],
			[class*=" icon-"]{
				display:block;
				font-size:14px;
				line-height:16px;
			}
		}
	}
}
.mobile-register-popup{
	width:100%;
	background:#39bac6;
	border-top:1px solid #fff;
	padding:15px 22px;
	color:#fff;
	h2{
		font-size:28px;
		line-height:32px;
		margin:0 0 8px;
		color:#fff;
      text-transform: capitalize;
	}
	.form-control{
		background:#57bfca;
		background:rgba(255,255,255, 0.1);
		box-shadow: 0 0 0 rgba(0,0,0, 0);
		color:#fff;
		border-color:transparent;
		&:focus{
			box-shadow: 0 0 4px rgba(31,129,138, 0.8);
			border-color:#fff;
		}
	}
	textarea{
		&.form-control{
			height:36px;
			min-height:36px;
		}
	}
	::-webkit-input-placeholder {
		color: #fff;
	}
	:-moz-placeholder {
		color: #fff;
	}
	::-moz-placeholder {
		color: #fff;
		opacity: 1;
	}
	:-ms-input-placeholder {
		color: #fff;
	}
	.btn{
		display:block;
		text-align:center;
		background:#fff;
		color:#39bac6;
		width:100%;
		margin:0;
		padding-left:10px;
		padding-right:10px;
		font-weight:600;
		.arrow{
			display:none;
		}
		&:focus,
		&:active,
		&:hover{
			background:#2c949e;
			color:#fff;
		}
	}
}


.google-map-holder{
  min-width: 100%;
  min-height: 540px;
}

.info-window {
  border: 1px solid #203d5d;
  position: absolute;
  background: #ffffff;
  padding: 25px 31px 25px 25px;
  height: auto !important;
  text-align: left;

 h2 {
  margin: 0 0 23px;
}
 address {
  font-style: normal;
  margin: 0 0 21px;
}
 p {
  margin: 0;
}
&:after,
&:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
&:after {
  border-color: rgba(255, 255, 255, 0);
  border-left-color: #fff;
  border-width: 20px;
  margin-top: -20px;
}
&:before {
  border-color: rgba(251, 131, 0, 0);
  border-left-color: #203d5d;
  border-width: 21px;
  margin-top: -21px;
}
}











@media only screen and (max-width: 1199px){
	.navbar{
		font-size:13px;
		.navbar-brand{
			width:130px;
			margin-top:-40px;
		}
		.navbar-nav{
			>li{
				>a{
					display:inline-block;
					vertical-align:top;
					background:transparent;
					padding-left:10px;
					padding-right:10px;
				}
			}
		}
	}
	.promo-logos-block{
		.promo-logos-list{
			text-align:center;
			li{
				width:49%;
				vertical-align:middle;
				text-align:center;
				padding:15px;
			}
		}
	}
	.section{
		.images-block{
			.small-image{
				width:260px;
			}
		}
	}
}
@media only screen and (min-width: 992px){
	#mobile-register{
		display:none !important;
	}
}
@media only screen and (max-width: 991px){

    body{
      padding-top: 40px;
    }

	.register-active,
	.nav-active{
		padding-top:0;
		background:#39bac6;
		.overlay{
			display:block;
		}
		.home-section,
		.intro-section,
		#main{
			display:none;
		}
		#wrapper{
			background:#39bac6;
		}
		#header{
			position:relative;
			border-color:transparent;
		}
	}
	.home-page{
		.navbar{
			.navbar-brand{
				display:none !important;
			}
		}
	}
	body{
		font-size:12px;
	}
	.register-popup-holder{
		position:absolute;
		top:-9999px;
	}
	.register-form{
		.btn{
			font-size:15px;
			line-height:21px;
		}
	}
	#header + #main{
		.section{
			&:first-child{
				>.container{
					padding-top:55px;
				}
			}
		}
	}
	.section{
		&.style-alt{
			background:#39bac6;
		}
		>.container{
			padding-top:24px;
			padding-bottom:24px;
		}
		h2{
			font-size:16px;
			line-height:18px;
		}
		&.style-alt{
			background:#39bac6;
		}
		.seaction-title{
			margin:0 0 4px;
		}
		.downloads-block{
			h2{
				font-size:12px;
				line-height:18px;
				margin:9px 0 12px;
			}
		}
		.add-info{
			font-size:12px;
			line-height:16px;
			margin-top:0;
			margin-bottom:5px;
			h2{
				font-size:inherit;
				line-height:inherit;
				margin:0;
			}
			ul{
				margin:0;
				li{
					margin:0;
				}
			}
			p{
				margin:0;
			}
		}
	}
	.home-info-section{
		h1{
			margin:0 0 4px;
		}
	}
	.contact-block{
		padding-top:55px;
		padding-bottom:55px;
		h1{
			font-size:30px;
			line-height:38px;
		}
		.register-title{
			font-size:28px;
		}
	}
	#footer{
		font-size:12px;
		line-height:15px;
		color:#aec3d7;
		a{
			color:inherit;
			text-decoration:underline;
			&[href^="tel"]{
				text-decoration:none;
			}
			&:hover{
				text-decoration:none !important;
			}
		}
		.link{
			color:#fff;
		}
		dl{
			font-size:12px;
			line-height:15px;
			dt{
				font-size:12px;
				line-height:15px;
			}
		}
		.caption{
			color:inherit;
		}
		.copyright-column{
			color:#76849e;
			a{
				color:inherit;
				text-decoration:none;
				&:hover{
					text-decoration:underline;
				}
			}
		}
		.add-links{
			a{
				text-decoration:none;
				&:hover{
					text-decoration:underline;
				}
			}
		}
		.f1{
			>.container{
				padding-top:10px;
				padding-bottom:20px;
			}
		}
		.column{
			padding-top:15px;
		}
		.copyright-column{
			.pull-right{
				float:none !important;
			}
		}
		.logos-list{
			margin:0;
			li{
				margin:0 14px 14px 0;
			}
		}
		h2{
			font-size:16px;
			line-height:20px;
			margin:0;
		}
	}
	.visual-block{
		img{
			max-width:none;
			width:178%;
			margin:0 -39%;
		}
	}
	#header{
		border-bottom:1px solid #fff;
	}
	.navbar{
		padding:0;
		height:auto;
		min-height:41px;
		position:relative;
		background:#39bac6 !important;
		&.navbar-default{
			padding:0;
		}
		.navbar-collapse{
			box-shadow: none;
			left:0;
			right:0;
			background:#39bac6;
			border-top:1px solid #fff;
		}
		.navbar-nav{
			margin-top:0;
			margin-bottom:2px;
			padding-top:45px;
			>li{
				float:none;
				width:100%;
				margin:10px 0;
				padding: 0 22px;
				>a{
					display:block;
					background: #57bfca;
					background:rgba(255,255,255, 0.1);
				}
			}
		}
		.navbar-brand{
			width:120px;
			position:absolute;
			left:50%;
			top:-30px;
			margin:0 0 0 -60px;
			padding:0;
			z-index:5;
		}
		.navbar-toggle{
			border-width:0;
			margin:9px 0 8px 10px;
			padding:5px;
			background:transparent !important;
		}
		.container{
			width:100%;
		}
	}
	.intro-section{
		h1{
			color:#000;
			margin:20px 0;
			font-size:30px;
		}
	}
	h1,
	h2{
		font-size:28px;
		line-height:30px;
	}
	.home-section{
		float:left;
		margin:-41px 0 0;
		.logo{
			margin:5px auto 20px;
		}
	}
	#main{
		overflow:hidden;
		clear:both;
	}
	.intro-section{
		height:350px;
		.heading-holder{
			padding:30px 0;
		}
	}
	.page-heading{
		margin-top:55px;
		margin-bottom:25px;
		h1{
			padding:0 0 13px;
		}
	}
	.item-box{
		h2{
			font-size:16px;
			line-height:18px;
			margin:0 0 14px;
		}
		h1{
			margin:0 0 4px;
		}
		.map-box{
			border-width:10px 8px;
		}
		.link-download{
			margin-top:8px;
		}
		.description-box{
			padding-bottom:28px;
		}
	}
	.map-section{
		.map-block{
			margin-bottom:24px;
		}
	}
}
@media only screen and (max-width: 767px){

  .select-holder select {
      width: 100%;
      height: 100%;
    }

    .thankyou-page .bg-stretch{
        display: none;
    }
    .thankyou{
      width: 100%;
    }

    .register-form h2{
      padding-top: 40px;
    }
    .home-page .register-form h2{
      padding-top: 0 !important;

    }

	.home-section{
		height:310px !important;
		.logo{
			width:182px;
		}
	}
	.navbar{
		.navbar-brand{
			width:98px;
			top:-20px;
			margin:0 0 0 -49px;
		}
	}
	.home-section{
		.logo{
			margin:5px auto;
		}
	}
	.register-form{
		.btn{
			text-align:center;
			padding-left:10px;
			padding-right:10px;
			.arrow{
				display:none;
			}
		}
	}
	.contacts-list{
		margin:0 0 15px;
		dt{
			width:auto;
			width:50px;
			font-size:48px;
			.icon-phone{
				font-size:40px;
			}
		}
		dd{
			width:100%;
			padding-left:50px;
			margin-left:-55px;
		}
		p{
			margin:0;
		}
		.link{
			font-size:17px;
		}
		.phone{
			font-size:30px;
		}
	}
	.intro-section{
		height:167px;
		.heading-holder{
			padding:40px 0 25px;
			vertical-align:bottom;
		}
		h1{
			font-size:28px;
			line-height:34px;
			margin:0;
		}
	}
	.map-section{
		>.container{
			padding-top:0;
		}
		text-align:left;
		background:transparent;
		.map-block{
			border:none;
			margin:0 -15px 20px;
		}
	}
	.link-download{
		font-size:15px;
		line-height:1;
		.icon{
			width:60px;
			height:60px;
			line-height:60px;
			font-size:36px;
			margin:0 13px 0 0;
		}
	}
	.promo-logos-block{
		>.container{
			padding-top:15px;
			padding-bottom:15px;
		}
		.promo-logos-list{
			li{
				display:block;
				width:auto;
			}
			.logo-01{
				max-width:170px;
			}
			.logo-02{
				max-width:216px;
			}
			.logo-03{
				max-width:169px;
			}
			.logo-04{
				max-width:71px;
			}
		}
	}
	.item-box{
		.map-box{
			margin:0 -15px;
		}
	}
	.btn{
		font-size:14px;
	}

  .navbar.navbar-default {
    p {
      text-transform: none;

    }
  }
}

@media only screen and (max-width: 320px) {

.home-page{
  .navbar .navbar-nav{
    padding-top: 15px;
  }
}


  .item-box{
    background: none;
    padding: 20px 0 0;
    &.last{
      margin-bottom: 0;
    }
  }

  p{
    margin: 0 0 8px;
  }

  h2{
    font-size: 25px;
  }

  .map-holder {
    min-height: 279px;
    background: url('../images/map-placeholder-02-small.png') no-repeat center center;

  }
  .navbar.navbar-default{
    p{
      text-transform: none;

    }
  }

  .section > .container{
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .contacts-list{
    .phone, dd{
      margin-bottom: 10px;
    }


  }

  .register-form{
    p{
      font-weight: 200;
    }
  }
}


/*
@media only screen and (max-height: 546px) {
  body{ padding-top: 0px;}
  #header{
    position: relative;

  }
}
*/
.privacy-link{
	background:none !important;
	text-transform:capitalize !important;
	display:inline-block !important;
	vertical-align:top !important;
	font-size:13px !important;
	line-height:1.4 !important;
	margin:10px 0 0 !important;
	padding:0 !important;
	&:active,
	&:focus,
	&:hover{
		color:#006d78 !important;
	}
}
.mobile-register-popup{
	.privacy-link{
		color:#fff !important;
		&:focus,
		&:active,
		&:hover{
			text-decoration:underline !important;
		}
	}
}
