// Fonts

@font-serif: 'Prata', "Times New Roman", Times, serif;
@font-sans: 'Montserrat', Arial, Helvetica, sans-serif;
@font-sabon: 'sabonroman', Arial, Helvetica, sans-serif;
@font-sabon-bold: 'sabonbold_07232', Arial, Helvetica, sans-serif;


// Colors

@text-color: #a89673;
@link-color: #967e50;
@headings-color: #1a672b;
@dark-color: #38393b;
@brown-color: #836b3f;
@white-color: #fff;