@blue: #00bcc6;
@altBlue: #93dfdf;
@black: #000000;
@white: #ffffff;
@grey: #454344;
@lightGrey: #bcbec0;

html{
  width: 100%;

}

body{
  font-family: "proxima-nova", Helvetica, Arial, sans-serif;
  background: @blue url(../img/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;


  @media only screen and (max-width: 767px){
    text-align: center;


  }
}

.ieonly{
  display: none !important;
}
.white{
  color: @white;
}
.blue, {
  color: @blue;
}
.black{
  color: @black;
}
.altBlue{
  color: @altBlue;
}
@media only screen and (max-width: 767px){
  .mobile-white{
    color: @white !important;
  }
}


.center-holder{
  position: relative;
  height: 100%;
  width: 100%;
  display: table;
  padding: 70px 0;
  .center-content{
    display: table-cell;
    vertical-align: middle;
  }
  @media only screen and (min-width: 991px) and (min-height: 1044px)  {
    position: absolute;
    padding: 0;

    .center-content{
      margin-top: 50px;
    }
}

  @media only screen and (max-width: 767px){
    position: relative;
    margin-top: 0px;
  }

  @media only screen and (max-width: 767px){
    padding: 30px 0;
  }
}

h1{
  font-size: 58px;
  line-height: 58px;
  margin: 130px 0 50px 0;
  font-weight: 600;

  @media only screen and (max-width: 991px) and (min-width: 767px), (max-width: 470px){
    font-size: 39px;
    line-height: 44px;
  }
  @media only screen and (max-width: 767px){
    margin-top: 0px;

    .white{
      color: #000000;
    }
  }



}
h2{
  font-size: 36px;
  line-height: 40px;
  font-weight: 600;
  margin: 50px 0 30px 0;

  @media only screen and (max-width: 991px) and (min-width: 767px), (max-width: 470px){
    font-size: 26px;
    line-height: 30px;
  }
  a{
    text-decoration: none;
    &:hover{
      text-decoration: none;
      color: @white;
    }
  }
}

p{
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;

  @media only screen and (max-width: 991px) and (min-width: 767px), (max-width: 470px){
    font-size: 16px;
    line-height: 21px;
  }
  @media only screen and (max-width: 767px){
    color: @white !important;
  }
}
h3{
  font-size: 26px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 2px;
  padding: 0;

  small{
    font-size: 16px;
    padding-top: 12px;
    display: inline-block;
    line-height: 24px;
  }
  @media only screen and (max-width: 991px) and (min-width: 767px), (max-width: 470px){
    font-size: 20px;
    line-height: 24px;
  }

  a{
    text-decoration: none;
    &:hover{
      text-decoration: none;
      color: @white;
    }
  }

  &.register-heading{
    @media only screen and (max-width: 767px){
      color: @blue !important;
    }
  }


}

.display-suite {
  font-size: 21px;
  line-height: 27px;
  padding-top: 10px;
}

#info{
  margin-bottom: 50px;

  @media only screen and (max-width: 767px){
    float: none !important;
  }

}
#spacer{
  .vert-line{
    height: 100%;
    border-right: 1px solid @lightGrey;
  }
}


#sidebar{
  padding-top: 150px;


  @media only screen and (max-width: 767px){
    float: none !important;
  }
}
.copy-holder{

  background-color: rgba(0, 0, 0, 0.5);
  padding: 25px 15px 15px 15px;

  @media only screen and (max-width: 767px){

    margin: 0px auto 50px auto;
    width: 334px;
    position: relative;
    padding: 20px 15px 15px 15px;

  }

  @media only screen and (max-width: 420px){
    margin: auto auto;
    width: 290px;

  }

}

.ielogo{
  position: absolute;
  left: 15px;
  top: 0px;
  z-index: 5;
}

.logo{
  background-color: @white;
  border-radius: 50%;
  width: 390px;
  height: 390px;
  margin-left: -15px;
  display: table;
  text-align: center;
  position: absolute;
  left: 15px;
  top: 0px;
  z-index: 5;

  @media only screen and (max-width: 767px){
    left: 50%;
    margin-left: -195px;
  }


  @media only screen and (max-width: 780px) and (min-width: 767px){
    width: 350px;
    height: 350px;
    left: 40px;
  }


  @media only screen and (max-width: 420px){
    width: 300px;
    height: 300px;
    margin-left: -150px;
  }


  a{
    display: table-cell;
    vertical-align: middle;
    img{
      width: 70%;
    }
  }

}
.form-holder{
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0px 20px 50px 20px;
  padding: 250px 20px 20px 20px;
  width: 334px;
  position: relative;

  .register-heading{
    margin-bottom: 0px;

  }
  p{
    color: @lightGrey !important;
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 15px;
  }



  @media only screen and (max-width: 780px) and (min-width: 767px){
    padding: 210px 20px 20px 20px;
  }

  @media only screen and (max-width: 767px){
    margin: auto auto;
    padding: 250px 20px 10px 20px;

  }

  @media only screen and (max-width: 420px){
    width: 290px;
    padding: 150px 15px 15px 15px;


  }
}
input[type=text], .taCommments{
  color: @white;
  font-weight: 400;
  letter-spacing: 1px;
  background: transparent;
  border-bottom: 1px solid @blue;
  border-left: 1px solid @blue;
  border-right: 1px solid @blue;
  border-top: 0;
  border-radius: 0;
  padding: 10px;
  height: auto;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;

  &:focus{
    background-color: rgba(255, 255, 255, 0.3);
    outline: none !important;
    border-bottom: 1px solid @blue;
    border-left: 1px solid @blue;
    border-right: 1px solid @blue;
    box-shadow: 0 0 0 ;

  }
}
.tbName{
  border-top: 1px solid @blue !important;

}
/* hide original element */
.jcf-hidden {
  display: block !important;
  position: absolute !important;
  left: -9999px !important; /* change to right: -9999px on RTL sites */
}
/* custom select styles */
select.error+.select-area{
  color:red !important;
}
.select-area {
  display:block;
  width: 100% !important;
  position: relative;
  overflow: hidden;
  cursor: default;
  color: @white;
  font-weight: 400;
  letter-spacing: 1px;
  background: transparent;
  border-bottom: 1px solid @blue;
  border-left: 1px solid @blue;
  border-right: 1px solid @blue;
  border-top: 0;
  border-radius: 0;
  padding: 10px;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;

  @media only screen and (max-width: 767px){
    text-align: left;
  }
}
.select-focus {
    background-color: rgba(255, 255, 255, 0.3);
    outline: none !important;
    border-bottom: 1px solid @blue;
    border-left: 1px solid @blue;
    border-right: 1px solid @blue;
    box-shadow: 0 0 0 ;
}
.select-area .center {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  width: 100%;
}
.select-disabled {
  background: #eee;
}
.select-area .select-opener {
  position: absolute;
  height: 100%;
  width: 40px;
  right: 0;
  top: 0;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color:#fff;
  &:after{
    content: "\e114";
    display:inline-block;
    vertical-align: middle;
  }
  &:before{
    content: '';
    display:inline-block;
    vertical-align: middle;
    height: 100%;
  }
}
.select-options {
  position: absolute;
  overflow: hidden;
  background: #fff;
  z-index: 2000;
}
.select-options .opt-disabled a {
  background: #fff !important;
  color: #aaa !important;
}
.select-options .drop-holder {
  border: 1px solid @blue;
  overflow: hidden;
  height: 1%;


}
.select-options ul {
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
.select-options ul li {
  width: 100%;
  float: left;

}
.select-options ul a {
  text-decoration: none;
  padding: 5px 10px;
  display: block;
  cursor: default;
  color: #000;
  height: 1%;
  @media only screen and (max-width: 767px){
    text-align: left;
  }
}
.select-options .item-selected a {
  text-decoration: none;
  background: @blue;
  color: #fff;
}
/* select options optgroup example styles */
.select-options .optgroup {
  clear: both;
}
.select-options .optgroup strong {
  display: block;
  padding: 5px;
}
.select-options .optgroup ul a {
  padding-left: 30px;
}

.submit{
  margin-top: 20px;
  border-radius: 0;
  color: @white ;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: left;
  position: relative;
  border: 0;
  padding: 10px;
  height: auto;
  font-size: 16px;
  background: @black url(../img/arrow.jpg) no-repeat right -3px;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;

  &:hover{
    background: @black url(../img/arrow.jpg) no-repeat right -47px;

  }
  &:focus{
    outline: none !important;
    border: 0;
    box-shadow: 0 0 0 ;
  }
}

.loading{
  width: 100%;
  margin-top: 20px;
  border-radius: 0;
  color: @white ;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: left;
  position: relative;
  border: 0;
  padding: 10px;
  height: auto;
  font-size: 16px;
  background: #000000;

  img{
    float: right;
    height: 22px;
    width: 22px;
  }
}

.normal{
  position: absolute;
}
.footer.ieonly{
  position: relative;
}

.footer{
  width: 100%;
  padding: 10px 0;
  bottom: 0;
  left: 0;
  background-color: @white;

  .by{
    margin-bottom: 0px;
  }

  img{
    margin-right: 20px;
    vertical-align: middle;
    height: 55px;

     @media only screen and (max-width: 767px){
     }
  }
  .savills{
    height: 51px;
    margin-top: 2px;
  }
  p{
    color: @lightGrey !important;
    font-size: 10px;
    line-height: 13px;


    @media only screen and (max-width: 767px){
      margin-top: 10px;
    }
  }
    a{
      color: @lightGrey;
      text-decoration: underline;

      &:hover{
        color: @lightGrey;
      }
    }

  @media only screen and (max-width: 991px){
    position: relative;


  }
  @media only screen and (max-height: 1045px){
    position: relative;
  }
  .disc{
    padding: 0;
  }
}

//sticky footer
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -65px; /* the bottom margin is the negative value of the footer's height */

}
#footer, .push {
//  height: 65px; /* .push must be the same height as .footer */
}



//thankyou
#thankyou{

  .logo{
    position: relative;
    width: 200px;
    height: 200px;
    margin: auto auto;
    left: inherit;
  }
  h1{
    margin: 20px 0;
    font-size: 49px;
    line-height: 53px;
  }
  p{
    font-size: 18px;
    line-height: 25px;
  }

  .back-btn{
    margin-top: 10px;
    display: inline-block;
    padding: 10px;
    width: 100px;
    background: @black;
    color: #ffffff;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;

    &:hover{
      background: @grey;
      text-decoration: none;
    }
  }
}


//privacy
#privacy{
  background: #ffffff;
}


::-webkit-input-placeholder {
  color: @white !important;
}

:-moz-placeholder { /* Firefox 18- */
  color: @white !important;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: @white !important;
}

:-ms-input-placeholder {
  color: @white !important;
}

//validation

.error{
  color: red !important;
}

.error::-webkit-input-placeholder {
  color: red !important;
}

.error:-moz-placeholder { /* Firefox 18- */
  color: red !important;
}

.error::-moz-placeholder {  /* Firefox 19+ */
  color: red !important;
}

.error:-ms-input-placeholder {
  color: red !important;
}