html {
  width: 100%;
}
body {
  font-family: "proxima-nova", Helvetica, Arial, sans-serif;
  background: #00bcc6 url(../img/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  body {
    text-align: center;
  }
}
.ieonly {
  display: none !important;
}
.white {
  color: #ffffff;
}
.blue {
  color: #00bcc6;
}
.black {
  color: #000000;
}
.altBlue {
  color: #93dfdf;
}
@media only screen and (max-width: 767px) {
  .mobile-white {
    color: #ffffff !important;
  }
}
.center-holder {
  position: relative;
  height: 100%;
  width: 100%;
  display: table;
  padding: 70px 0;
}
.center-holder .center-content {
  display: table-cell;
  vertical-align: middle;
}
@media only screen and (min-width: 991px) and (min-height: 1044px) {
  .center-holder {
    position: absolute;
    padding: 0;
  }
  .center-holder .center-content {
    margin-top: 50px;
  }
}
@media only screen and (max-width: 767px) {
  .center-holder {
    position: relative;
    margin-top: 0px;
  }
}
@media only screen and (max-width: 767px) {
  .center-holder {
    padding: 30px 0;
  }
}
h1 {
  font-size: 58px;
  line-height: 58px;
  margin: 130px 0 50px 0;
  font-weight: 600;
}
@media only screen and (max-width: 991px) and (min-width: 767px), (max-width: 470px) {
  h1 {
    font-size: 39px;
    line-height: 44px;
  }
}
@media only screen and (max-width: 767px) {
  h1 {
    margin-top: 0px;
  }
  h1 .white {
    color: #000000;
  }
}
h2 {
  font-size: 36px;
  line-height: 40px;
  font-weight: 600;
  margin: 50px 0 30px 0;
}
@media only screen and (max-width: 991px) and (min-width: 767px), (max-width: 470px) {
  h2 {
    font-size: 26px;
    line-height: 30px;
  }
}
h2 a {
  text-decoration: none;
}
h2 a:hover {
  text-decoration: none;
  color: #ffffff;
}
p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}
@media only screen and (max-width: 991px) and (min-width: 767px), (max-width: 470px) {
  p {
    font-size: 16px;
    line-height: 21px;
  }
}
@media only screen and (max-width: 767px) {
  p {
    color: #ffffff !important;
  }
}
h3 {
  font-size: 26px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 2px;
  padding: 0;
}
h3 small {
  font-size: 16px;
  padding-top: 12px;
  display: inline-block;
  line-height: 24px;
}
@media only screen and (max-width: 991px) and (min-width: 767px), (max-width: 470px) {
  h3 {
    font-size: 20px;
    line-height: 24px;
  }
}
h3 a {
  text-decoration: none;
}
h3 a:hover {
  text-decoration: none;
  color: #ffffff;
}
@media only screen and (max-width: 767px) {
  h3.register-heading {
    color: #00bcc6 !important;
  }
}
.display-suite {
  font-size: 21px;
  line-height: 27px;
  padding-top: 10px;
}
#info {
  margin-bottom: 50px;
}
@media only screen and (max-width: 767px) {
  #info {
    float: none !important;
  }
}
#spacer .vert-line {
  height: 100%;
  border-right: 1px solid #bcbec0;
}
#sidebar {
  padding-top: 150px;
}
@media only screen and (max-width: 767px) {
  #sidebar {
    float: none !important;
  }
}
.copy-holder {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 25px 15px 15px 15px;
}
@media only screen and (max-width: 767px) {
  .copy-holder {
    margin: 0px auto 50px auto;
    width: 334px;
    position: relative;
    padding: 20px 15px 15px 15px;
  }
}
@media only screen and (max-width: 420px) {
  .copy-holder {
    margin: auto auto;
    width: 290px;
  }
}
.ielogo {
  position: absolute;
  left: 15px;
  top: 0px;
  z-index: 5;
}
.logo {
  background-color: #ffffff;
  border-radius: 50%;
  width: 390px;
  height: 390px;
  margin-left: -15px;
  display: table;
  text-align: center;
  position: absolute;
  left: 15px;
  top: 0px;
  z-index: 5;
}
@media only screen and (max-width: 767px) {
  .logo {
    left: 50%;
    margin-left: -195px;
  }
}
@media only screen and (max-width: 780px) and (min-width: 767px) {
  .logo {
    width: 350px;
    height: 350px;
    left: 40px;
  }
}
@media only screen and (max-width: 420px) {
  .logo {
    width: 300px;
    height: 300px;
    margin-left: -150px;
  }
}
.logo a {
  display: table-cell;
  vertical-align: middle;
}
.logo a img {
  width: 70%;
}
.form-holder {
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0px 20px 50px 20px;
  padding: 250px 20px 20px 20px;
  width: 334px;
  position: relative;
}
.form-holder .register-heading {
  margin-bottom: 0px;
}
.form-holder p {
  color: #bcbec0 !important;
  font-size: 14px;
  line-height: 17px;
  padding-bottom: 15px;
}
@media only screen and (max-width: 780px) and (min-width: 767px) {
  .form-holder {
    padding: 210px 20px 20px 20px;
  }
}
@media only screen and (max-width: 767px) {
  .form-holder {
    margin: auto auto;
    padding: 250px 20px 10px 20px;
  }
}
@media only screen and (max-width: 420px) {
  .form-holder {
    width: 290px;
    padding: 150px 15px 15px 15px;
  }
}
input[type=text],
.taCommments {
  color: #ffffff;
  font-weight: 400;
  letter-spacing: 1px;
  background: transparent;
  border-bottom: 1px solid #00bcc6;
  border-left: 1px solid #00bcc6;
  border-right: 1px solid #00bcc6;
  border-top: 0;
  border-radius: 0;
  padding: 10px;
  height: auto;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
input[type=text]:focus,
.taCommments:focus {
  background-color: rgba(255, 255, 255, 0.3);
  outline: none !important;
  border-bottom: 1px solid #00bcc6;
  border-left: 1px solid #00bcc6;
  border-right: 1px solid #00bcc6;
  box-shadow: 0 0 0 ;
}
.tbName {
  border-top: 1px solid #00bcc6 !important;
}
/* hide original element */
.jcf-hidden {
  display: block !important;
  position: absolute !important;
  left: -9999px !important;
  /* change to right: -9999px on RTL sites */
}
/* custom select styles */
select.error + .select-area {
  color: red !important;
}
.select-area {
  display: block;
  width: 100% !important;
  position: relative;
  overflow: hidden;
  cursor: default;
  color: #ffffff;
  font-weight: 400;
  letter-spacing: 1px;
  background: transparent;
  border-bottom: 1px solid #00bcc6;
  border-left: 1px solid #00bcc6;
  border-right: 1px solid #00bcc6;
  border-top: 0;
  border-radius: 0;
  padding: 10px;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
@media only screen and (max-width: 767px) {
  .select-area {
    text-align: left;
  }
}
.select-focus {
  background-color: rgba(255, 255, 255, 0.3);
  outline: none !important;
  border-bottom: 1px solid #00bcc6;
  border-left: 1px solid #00bcc6;
  border-right: 1px solid #00bcc6;
  box-shadow: 0 0 0 ;
}
.select-area .center {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  width: 100%;
}
.select-disabled {
  background: #eee;
}
.select-area .select-opener {
  position: absolute;
  height: 100%;
  width: 40px;
  right: 0;
  top: 0;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #fff;
}
.select-area .select-opener:after {
  content: "\e114";
  display: inline-block;
  vertical-align: middle;
}
.select-area .select-opener:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.select-options {
  position: absolute;
  overflow: hidden;
  background: #fff;
  z-index: 2000;
}
.select-options .opt-disabled a {
  background: #fff !important;
  color: #aaa !important;
}
.select-options .drop-holder {
  border: 1px solid #00bcc6;
  overflow: hidden;
  height: 1%;
}
.select-options ul {
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
.select-options ul li {
  width: 100%;
  float: left;
}
.select-options ul a {
  text-decoration: none;
  padding: 5px 10px;
  display: block;
  cursor: default;
  color: #000;
  height: 1%;
}
@media only screen and (max-width: 767px) {
  .select-options ul a {
    text-align: left;
  }
}
.select-options .item-selected a {
  text-decoration: none;
  background: #00bcc6;
  color: #fff;
}
/* select options optgroup example styles */
.select-options .optgroup {
  clear: both;
}
.select-options .optgroup strong {
  display: block;
  padding: 5px;
}
.select-options .optgroup ul a {
  padding-left: 30px;
}
.submit {
  margin-top: 20px;
  border-radius: 0;
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: left;
  position: relative;
  border: 0;
  padding: 10px;
  height: auto;
  font-size: 16px;
  background: #000000 url(../img/arrow.jpg) no-repeat right -3px;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
.submit:hover {
  background: #000000 url(../img/arrow.jpg) no-repeat right -47px;
}
.submit:focus {
  outline: none !important;
  border: 0;
  box-shadow: 0 0 0 ;
}
.loading {
  width: 100%;
  margin-top: 20px;
  border-radius: 0;
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: left;
  position: relative;
  border: 0;
  padding: 10px;
  height: auto;
  font-size: 16px;
  background: #000000;
}
.loading img {
  float: right;
  height: 22px;
  width: 22px;
}
.normal {
  position: absolute;
}
.footer.ieonly {
  position: relative;
}
.footer {
  width: 100%;
  padding: 10px 0;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
}
.footer .by {
  margin-bottom: 0px;
}
.footer img {
  margin-right: 20px;
  vertical-align: middle;
  height: 55px;
}
.footer .savills {
  height: 51px;
  margin-top: 2px;
}
.footer p {
  color: #bcbec0 !important;
  font-size: 10px;
  line-height: 13px;
}
@media only screen and (max-width: 767px) {
  .footer p {
    margin-top: 10px;
  }
}
.footer a {
  color: #bcbec0;
  text-decoration: underline;
}
.footer a:hover {
  color: #bcbec0;
}
@media only screen and (max-width: 991px) {
  .footer {
    position: relative;
  }
}
@media only screen and (max-height: 1045px) {
  .footer {
    position: relative;
  }
}
.footer .disc {
  padding: 0;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -65px;
  /* the bottom margin is the negative value of the footer's height */
}
#thankyou .logo {
  position: relative;
  width: 200px;
  height: 200px;
  margin: auto auto;
  left: inherit;
}
#thankyou h1 {
  margin: 20px 0;
  font-size: 49px;
  line-height: 53px;
}
#thankyou p {
  font-size: 18px;
  line-height: 25px;
}
#thankyou .back-btn {
  margin-top: 10px;
  display: inline-block;
  padding: 10px;
  width: 100px;
  background: #000000;
  color: #ffffff;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
#thankyou .back-btn:hover {
  background: #454344;
  text-decoration: none;
}
#privacy {
  background: #ffffff;
}
::-webkit-input-placeholder {
  color: #ffffff !important;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #ffffff !important;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #ffffff !important;
}
:-ms-input-placeholder {
  color: #ffffff !important;
}
.error {
  color: red !important;
}
.error::-webkit-input-placeholder {
  color: red !important;
}
.error:-moz-placeholder {
  /* Firefox 18- */
  color: red !important;
}
.error::-moz-placeholder {
  /* Firefox 19+ */
  color: red !important;
}
.error:-ms-input-placeholder {
  color: red !important;
}
